NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000
JSON_LIMIT=10kb

MONGO_URI=mongodb://localhost:27017/insighta
# Or use: MONGO_USER, MONGO_PASS, MONGO_HOST, MONGO_PORT, MONGO_DB

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_SECRET=change-me
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=http://localhost:3000
RESET_TOKEN_EXPIRY=900000
OTP_EXPIRY=300
